h1 {
  font-size: 55px;
  color: black;
  text-align: center;
  text-decoration: underline;
}
#eritrea {
  font-size: 25px;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  font-size: 20px;
  color: black;
  text-align: center;
}
img {
  border-radius: 10px;
}

.map {
  display: flex;
  justify-content: center;
  gap: 35px;
}
ul {
  padding-left: 0;
  list-style-position: inside;
}
ul {
  padding-left: 0;
  list-style-position: inside;
}
